$orange-main: #F15921;
$black-main: #222;
$black-color: #282828;
$text-color: #777777;
$gray-light: #d3d3d3;


.cursive{
    font-family: 'Dancing Script', cursive;
    text-transform: none;
    color: #F15921;
    text-shadow: 1px 1px 1px rgba(60, 60, 60, 0.7);
}