<div class="main dash-schools">
    <div class="section section-gray text-center">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-12 col-md-12">
                    <div class="dash-spacer"></div>
                    <div class="card">
                        <div class="simulador embed-responsive embed-responsive-4by3">
                            <iframe src="https://pamgaiguer.github.io/simuladorescola/" scrolling="yes"></iframe>
                            <!-- sandbox="allow-same-origin allow-scripts" / *ngIf="isMobile == false" -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h3 class="title">Conceito de Escola Dispersa e Comprimida</h3>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <figure>
                                            <img src="./assets/img/escola_simulador.jpg" alt="Escola dispersa ou comprimida" class="img-fluid">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dash-spacer"></div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <h3 class="title">Como usar o simulador?</h3>

                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <iframe width="500" height="315" src="https://www.youtube.com/embed/szg0YXV6t68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <iframe width="500" height="315" src="https://www.youtube.com/embed/5-2vK3XqjUg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <iframe width="500" height="315" src="https://www.youtube.com/embed/mpXoVLCQssY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="dash-spacer"></div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 ">
                                <h3 class="title">Parceiros</h3>
                                <figure>
                                    <a href="https://redepesquisa.milharal.org/" target="_blank">
                                        <img src="./assets/img/school_university.png" class="logo-apoio">
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>