<div class="main home">
    <div class="section section-gray">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                    <div class="card">
                <div class="container">

                        <figure>
                            <img src="./assets/img/ikki.jpg" class="text-center" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <cookie-law>
            Uso "cookies" (pequenos arquivos que identificam o seu aparelho) para melhorar a sua experiência no nosso site. Mais informações na nossa política de privacidade.
        </cookie-law>
    </div>
</div>