<div class="main home">
  <div class="container">
    <div class="row">
      <div class="bg-top">
        <div class="header-content">
          <div class="inner">
            <h1 class="cursive">Pam Gaiguer</h1>
            <h4>Front End Developer</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-gray" id="whoami">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="whoami">
            <h1>Who Am I?</h1>
            <p>
              Hello, my name's Pam Gaiguer! <br />
              I'm a front-end web developer by trade and an musician during my
              free time.
            </p>
            <p>
              I have 10 years of experience in Information Technology (IT),
              including but not limited to: Business Process Modelling and
              Notation (BPMN), Project Management and Gamification.
              <br />
              I also have 7 years of experience in Front-End web development
              specialising in User Experience (UX) and User Interface (UI).
            </p>
            <p>
              <small
                >"You're a star! Don't let anybody tell that you're not!"</small
              >
            </p>
            <p>
              Click here to download my resume:
              <a href="../../../assets/PamGaiguerResume.pdf" target="_blank"
                >Download</a
              >
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="whoami">
            <figure>
              <img
                src="../../../assets/img/pam_profile.jpg"
                class="pam-profile"
                alt=""
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-black portfolio" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h1>Portfolio</h1>
          <p>
            <small
              >Disclaimer: Responsibility of all products occurs at the
              development stage only. Status and continuation of websites by the
              end user are outside the scope of our control. Therefore some
              webpages may no longer be active.</small
            >
          </p>
          <ul class="list-unstyled portf-list">
            <li *ngFor="let port of portfolio; let i = index">
              <figure>
                <img src="{{ port.img }}" alt="" class="img-fluid" />
                <figcaption>
                  {{ port.nome }}
                  <br />
                  <span
                    >Company from: <strong>{{ port.location }}</strong></span
                  >
                  <br />
                  <a href="{{ port.url }}" target="_blank">Visit website</a>
                </figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-gray resume-thanks">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <h1>Thank you :)</h1>
        </div>
      </div>
    </div>
  </div>
</div>
