<div class="main home">
    <div class="section section-gray">
        <!-- <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="main-header-home">
                    <p>header</p>
                </div>
            </div>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <figure class="figure">
                                    <img src="./assets/img/home/home_school.jpg" alt="Retomada das escolas" class="figure-img img-fluid">
                                </figure>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <h5 class="home-title" style="border-left: 8px solid #5eb990">Volta às aulas?</h5>
                                <p>
                                    Conheça o nosso novo simulador, criado para que educadores e alunos sejam capazes de visualizar o avanço do Covid-19 em cenários de 
                                    retomada às atividades escolares, levando em conta o tamanho da escola, os protocolos de higiene e o respeito ao distanciamento social.
                                </p>
                                <br/>
                                <p>
                                   Defina o cenário de acordo com a realidade da sua escola, faça uma simulação e entenda como seria a disseminação da Covid-19 nesse ambiente. 
                                </p>
                                <ul class="list-unstyled">
                                    <li><a [routerLink]="['/escolas']">Simular agora!</a></li>
                                    <!-- <li><a [routerLink]="['/aboutus']">Saiba como usar!</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <h5 class="home-title" style="border-left: 8px solid #e83632">O projeto</h5>
                                    <p>
                                        O Ação Covid-19 é um grupo interdisciplinar de pesquisadores dedicados a entender como a desigualdade afeta a evolução da pandemia no Brasil. Dependendo das condições de vida no seu bairro ou território, você pode estar mais exposto ou mais protegido ao vírus. Nesta página, disponibilizamos um simulador para que você possa testar a situação do seu entorno.
                                    </p>
                                    <p>
                                        O simulador aplica um indicador criado pelo nosso grupo: o Índice de Proteção à Covid-19 (IPC), que estima o quanto um bairro ou território está protegido, segundo uma série de dados: densidade demográfica, mobilidade, desenvolvimento humano e outros. Estamos calculando o IPC para localidades em todo o país.
                                    </p>
                                    <ul class="list-unstyled">
                                        <li><a [routerLink]="['/publications']">Leia nossas publicações</a></li>
                                        <li><a [routerLink]="['/aboutus']">Conheça a equipe</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <figure class="figure">
                                        <img src="./assets/img/home/photo_home.jpg" class="figure-img img-fluid">
                                        <figcaption class="figure-caption text-right">Créditos: Thomas de Luze</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="card">
                            <h5 class="home-title">
                                Bolhas de Proteção
                            </h5>
                            <p>
                                Neste estudo, mostramos que se formaram bolhas de proteção na cidade de São Paulo, em que grupos com muitos infectados e grupos quase sem infecções não interagem. Isto explica por que o ritmo da doença desacelerou na cidade, sem chegar à imunidade comunitária. Também mostramos que um eventual aumento da circulação pode estourar essas bolhas.
                            </p>
                            <p>
                                Leia mais sobre este estudo <a [routerLink]="['/publications/note5']">aqui</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="card">
                            <h5 class="home-title" style="border-left: 8px solid #4490bc">As Cidades e os Bairros</h5>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <p>Nossos estudos calcuam a velocidade de propagação das infecções a partir de dados como a densidade demográfica, o índice de desenvolvimento humano (IDH) 
                                        e a oferta de equipamentos urbanos.
                                    </p>
                                    <p>Esses indicacores são reunidos no Índice de Proteção Covid-19 (IPC19), que pode ser aplicado para qualquer região/bairro do país.</p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <em>Confira os estudos e a evolução da curva de propagação com maiores detalhes por cidade:</em>
                                    <ul class="list-unstyled">
                                        <li><a [routerLink]="['/copacabana']">Copacabana: um bairro, duas curvas</a></li>
                                        <li><a [routerLink]="['/fortaleza']">Fortaleza: entre Barra do Ceará e Meireles</a></li>
                                        <li><a [routerLink]="['/saopaulo']">São Paulo: uma cidade, muitas curvas</a></li>
                                        <li><a [routerLink]="['/curitiba']">Curitiba: Flexibilização e Calamidade durante a Pandemia</a></li>
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <h5 class="home-title" style="border-left: 8px solid #f29b53">Como Agir</h5>
                            <p>
                                Manter as pessoas em casa não é uma tarefa fácil em lugar algum, mas é ainda mais difícil quando as condições de vida estão longe do ideal.
                                O isolamento social exige medidas coordenadas de atores da esfera pública, lideranças comunitárias e setor privado.
                            </p>
                            <ul class="list-unstyled">
                                <li><a [routerLink]="['/howtoact']">Saiba mais sobre as medidas</a></li>
                                <li><a [routerLink]="['/statistics']">Confira as estatísticas da pandemia</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <h5 class="home-title" style="border-left: 8px solid #5eb990">Simulador</h5>
                            <p>
                                A partir dos principais modelos epidemiológicos, criamos um simulador para reproduzir e visualizar cenários do avanço das infecções. A ferramenta pode ser usada por todos os brasileiros para estimar como a doença pode afetar sua região e entornos.
                            </p>
                            <ul class="list-unstyled">
                                <li><a [routerLink]="['/dash']">Faça sua própria simulação</a></li>
                                <li><a [routerLink]="['/howtouse']">Como usar o simulador</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <h5 class="home-title" style="border-left: 8px solid #ea637d">Na Midia</h5>
                            <div class="list-group">
                                <div  *ngFor="let midia of allpublicity; let i = index">
                                    <div *ngIf="i<10">
                                        
                                        <a href="{{midia.link}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1 publicity-title">{{midia.fonte}}</h5>
                                                <small>{{midia.data}}</small>
                                            </div>
                                            <p class="mb-1">
                                                {{midia.titulo}}
                                            </p>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="card twitter-widget">
                            <h5 class="home-title" style="border-left: 8px solid #ea623d">Redes Sociais</h5>
                            
                            <ngx-twitter-timeline 
                            [data]="{sourceType: 'url', url: 'https://twitter.com/AcaoCovid'}"
                            [opts]="{tweetLimit: 3, height: 100, chrome: ['noheader']}">
                        </ngx-twitter-timeline>
                    </div>
                </div>
            </div>
        </div>
        
        <cookie-law>
            Usamos "cookies" (pequenos arquivos que identificam o seu aparelho) para melhorar a sua experiência no nosso site. Mais informações na nossa política de privacidade.
        </cookie-law>
    </div>
</div>