@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: #333 url('../img/bg.jpg') repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #f0f0f0;
	overflow-y: scroll;
}
p{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.container > header{
	/*padding: 20px 30px;*/
	/*margin-bottom: 40px;*/
	display: block;
    text-align: center;
}
.container > header h1{
	font-family: "BebasNeueRegular", Arial, sans-serif;
	font-size: 35px;
	font-weight: 300;
	text-transform: uppercase;
	color: rgba(101,141,114,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.container > header h1 span{
	color: #A0CAAD;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
}
.container{
	margin: 0 auto;
	width: 1000px;
}
.dg-container{
	width: 100%;
	height: 385px;
}
.dg-wrapper{
	width: 481px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	/*perspective: 1000px;*/
}
.dg-wrapper a{
	width: 482px;
	height: 316px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url('../img/browser.png') no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	/*position: absolute;*/
	z-index: 1000;
	/*bottom: 400px;
	left: 50%;
	margin-left: -29px;*/
}
.dg-container nav span{
	text-indent: -9999px;
	float: left;
	cursor: pointer;
	width: 24px;
	height: 25px;
	opacity: 0.8;
	background: transparent url('../img/arrows.png') no-repeat top left;
}
.dg-container nav span:hover{
	opacity: 1;
}
.dg-container nav span.dg-next{
	background-position: top right;
	margin-left: 10px;
}
/******************** CSS Pam ********************/
.dg-wrapper a.dg-center div.site-description{
	bottom: -80px;
}
.contact-pg{
	color: #27645C;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.4);	
}
.contact-pg h3, .contact-pg span{
	text-align: center;
	color: rgba(101,141,114,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	font-weight: bold;
}
.contact-pg a, .contact-pg a:hover{
	color: #27645C;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
}
