<div class="main aboutus">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="main-header text-center">
                        <h3>Sobre</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <p>
                            Somos um grupo de pesquisadores, de várias disciplinas, dedicados a estudar a evolução da Covid-19 no cenário da desigualdade extrema do Brasil. Criamos um modelo de simulação para o avanço 
                            das infecções de acordo com a densidade demográfica e o desenvolvimento humano de cada área. Buscamos angariar e elaborar medidas de combate à pandemia, tendo em vista a disparidade de 
                            condições sociais e econômicas no país.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <h4>Contato:</h4>
                        <p>
                            Para comentários, sugestões e colaborações científicas: <a href="mailto:mosaicovid19@gmail.com?subject=Contato%20Equipe%20Ação%20Covid" target="_blank">mosaicovid19@gmail.com</a>
                        </p>
                        <p>
                            Para imprensa e entrevistas: <a href="mailto:comunicamosaico@gmail.com?subject=Imprensa%20Equipe%20Ação%20Covid" target="_blank">comunicamosaico@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card teamlist">
                        <h4>Equipe:</h4>
                        
                        <!-- <li>
                            <a class="researcher" target="_blank" href="#">[NAME]</a>
                            <p>[BIO]</p>
                        </li> -->
                        
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <ul class="list-unstyled">
                                    <li *ngFor="let sobre of allaboutus; let i = index">
                                        <div *ngIf="i<14">
                                            <a class="researcher" target="_blank" href="{{sobre.link}}">{{sobre.name}}</a>
                                            <p>{{sobre.bio}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <ul class="list-unstyled">
                                    <li *ngFor="let sobre of allaboutus; let i = index">
                                        <div *ngIf="i>=14">
                                            <a class="researcher" target="_blank" href="{{sobre.link}}">{{sobre.name}}</a>
                                            <p>{{sobre.bio}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <h4>Redes sociais:</h4>
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="box-social-media">
                                    <a href="http://www.facebook.com/AcaoCovid19" target="_blank">
                                        <p><i class="fab fa-facebook-square fa-4x"></i></p>
                                        <p>Facebook</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="box-social-media">
                                    <a href="https://www.instagram.com/acao_covid/" target="_blank">
                                        <p><i class="fab fa-instagram fa-4x"></i></p>
                                        <p>Instagram</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="box-social-media">
                                    <a href="https://twitter.com/AcaoCovid" target="_blank">
                                        <p><i class="fab fa-twitter fa-4x"></i></p>
                                        <p>Twitter</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="box-social-media">
                                    <a href="https://www.youtube.com/channel/UC8duZjIo2hNZpc36B9gyZSg/featured" target="_blank">
                                        <p><i class="fab fa-youtube fa-4x"></i></p>
                                        <p>YouTube</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
